:root.theme-dark {
  /* Цвет текста */
  --color-accent: #ff0070;
  --color-interactive: #ff0070;
  --color-main-heading: #db00ff;
  --color-section-heading: #ff0070;
  --color-section-subtitle: #000028;
  --color-text-primary: #f1b2ce;

  /* Цвет фона */
  --bg-color-page: #000028;

  /* Декоративные элементы */
  --text-shadow-main-heading: 4px 4px 0 var(--color-accent, #ff0070);
  --text-shadow-link: 2px 2px 0 var(#ff0070);
  --decorate-corners: 1px solid var(--color-decor-element, #ff0070);
  --color-decor-element: #ff0070;
  --color-btn-outline-hover: rgb(255 0 112 / 0.4);
  --color-link-outline: #f1b2ce;
  --color-link-underline: #f1b2ce;

  /* Пути до картинок */
  --bg-image: url(../images/cover-image-dark.png);
}

.theme-dark .header__rec {
  display: initial;
}
