/* Стили для темной темы */

:root.theme-dark {
    /* Цвета */
    --theme-button-color: #FF0070;
    --theme-button-color-hover: rgba(255 0 112 / .4);
    --slogan-color: #DB00FF;
    --header-title-color: #000028;
    --section-title-color: #FF0070;
    --section-subtitle-color: #000028;
    --text-color: #F1B2CE;

    /* Декор */
    --accent-color: #FF0070;
    --decorate-color: #FF0070;

    /* Фоновые картинки */
    --page-bg-avif:url(/images/cover-image-dark.avif);
    --page-bg-webp:url(/images/cover-image-dark.webp);
    --page-bg-png:url(/images/cover-image-dark.jpg);
}