:root.theme-light {

  /* Цвет текста */
  --color-accent: #FF8DCB;
  --color-interactive: #353430;
  --color-main-heading: #FFC2E6;
  --color-section-heading: #353430;
  --color-text-primary: #353430;

  /* Цвет фона */
  --bg-color-page: #FFF1F7;

  /* Декоративные элементы */
  --text-shadow-main-heading: 4px 4px 0 var(--color-accent, #FF8DCB);
  --text-shadow-link: 2px 2px 0 #FF8DCB;
  --color-decor-element: #353430;
  --color-btn-outline-hover: rgba(255, 0, 112, 0.4);
  --color-link-underline: #353430;

  /* Пути до картинок */
  --bg-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
  /* Цвет текста */
  --color-accent: #FF8DCB;
  --color-interactive: #353430;
  --color-main-heading: #FFC2E6;
  --color-section-heading: #353430;
  --color-text-primary: #353430;

  /* Цвет фона */
  --bg-color-page: #FFF1F7;

  /* Декоративные элементы */
  --text-shadow-main-heading: 4px 4px 0 var(#FF8DCB);
  --text-shadow-link: 2px 2px 0 var(#FF8DCB);
  --color-decor-element: rgba(50, 49, 45, 0.4);
  --color-btn-outline-hover: rgba(255, 0, 112, 0.4);
  --color-link-underline: #353430;

  /* Пути до картинок */
  --bg-image: url(../images/cover-image-light.png);
  }

  /* Отображение надписи rec */
  .header__rec {
    display: none;
  }
}

.theme-light .header__rec {
  display: none;
}