/* Стили светлой темы */

:root.theme-light {
    --theme-button-color: #353430;
    --theme-button-color-hover: rgb(50 49 45 / 0.4);
    --slogan-color: #FFC2E6;
    --header-title-color: #353430;
    --section-title-color: #353430;
    --section-subtitle-color: #353430;
    --text-color: #353430;

    --accent-color: #FF8DCB;
    --decorate-color: #353430;

    /* Фоновые картинки */
    --page-bg-avif:url(/images/cover-image-light.avif);
    --page-bg-webp:url(/images/cover-image-light.webp);
    --page-bg-png:url(/images/cover-image-light.jpg);

}