:root.theme-light {

  /* Цвет текста */
  --color-accent: #FF8DCB;
  --color-interactive: #353430;
  --color-main-heading: #FFC2E6;
  --color-section-heading: #353430;
  --color-text-primary: #353430;

  /* Декоративные элементы */
  --text-shadow-main-heading: 4px 4px 0 var(--color-accent);
  --color-decor-element: #353430;

  /* Пути до картинок */
  --bg-image: url(../images/cover-image-light.png);
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-light .title {
  color: var(--color-main-heading, #FFC2E6);
}

.theme-light .header__rec {
  display: none;
}

.theme-light .decorated-zone::before {
  border-color: var(--color-decor-element, #353430);
}

.theme-light .decorated-zone::after {
  border-color: var(--color-decor-element, #353430);
}

.theme-light .header__theme-menu-button {
  color: var(--color-interactive, #353430);
}

.theme-light .header__theme-menu-button_active {
  outline: 1px solid var(--color-interactive, #353430);
}

.theme-light .header__theme-menu-button:hover {
  outline: 1px solid rgba(50, 49, 45, 0.4);
}

.theme-light .header__theme-menu-button:focus-visible::before {
  background-color: var(--color-interactive, #353430);
}

  .theme-light .header__title {
  text-shadow: var(--text-shadow-main-heading);
}

.theme-light .header__subtitle {
  color: var(--color-text-primary, #353430);
}

.theme-light .title-decor {
  background-color: var(--color-accent, #FF8DCB);
}

.theme-light .main__section-title {
  color: var(--color-section-heading, #353430);
}



