/* Общие блоки */
.container {
  min-inline-size: 375px;
  padding: 0 10px;
}

.title {
  font-size: var(--font-size-heading-big-mobile, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  line-height: var(--line-height-heading-big, .83);
  color: var(--text-color-heading-big, #DB00FF);
}

.title-decor {
  background-color: var(--color-accent);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--color-accent);
  border-right: 1px solid var(--color-accent);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 10px;
  display: inline-block;
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--color-accent);
  border-left: 1px solid var(--color-accent);
}


/* page */
.page {
  font-family: var(--main-font, IBM Plex Mono);
  font-size: var(--font-size-text, 18px);
  line-height: var(--line-height-text, 1.3);
  background-color: #000028;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  object-fit: cover;
}

/* header */
.header {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  padding-top: 70px;
  padding-bottom: 66px;
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 38px;
  font-size: var(--font-size-text);
  line-height: 1.39;
  text-transform: uppercase;
  color: var(--color-accent, #FF0070);
}

.header__rec::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 50px;
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--color-accent);
  box-shadow: 0 0 4px 2px var(--color-accent);
}


.header__theme-menu {
  justify-self: end;
  /* align-self: start; */
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.header__theme-menu-button {
  position: relative;
  padding: 6px 15px;
  color: var(--color-accent, #FF0070);
  background-color: transparent;
  line-height: 1;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  color: aliceblue;
}

.header__theme-menu-button:focus-visible::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--color-accent);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--color-accent);
}

.header__title {
  margin-top: 65px;
  justify-self: start;
  text-shadow: var(--text-shadow-heading-big);
}

.header__subtitle {
  margin-top: 50px;
  justify-self: end;
  max-inline-size: 365px;
  font-size: var(--font-size-text);
}

/* main */
.main {
  padding-top: 40px;
}

.main__section:not(:first-child) {
  margin-top: 50px;
}

.main__section-title {
  font-size: var(--font-size-text);
  line-height: var(--line-height-text);
  color: var(--color-accent);
}

.main__section-subtitle {
  font-size: var(--font-size-text, 18px);
  line-height: var(--line-height-text, 1.3);
  margin-top: 20px;
}

.main__section-sub-subtitle {
  margin-top: 20px;
  font-weight: var(--font-weight-normal, 400);
}

.main__section-text {
  margin-top: 10px;
  color: var(--text-color-primary, #F1B2CE);
}

.main__section-text-link {
  text-shadow: 2px 2px 0 var(--color-accent, #FF0070);
}

.main__wrap-images {
  display: grid;
  row-gap: 10px;
  margin-top: 10px;
}

.main__section-image {
  width: 100%;
}

/* footer */
.footer {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding-top: 286px;
  padding-bottom: 286px;
}

.footer__title {
  --text-shadow-heading-big: 2px 2px 0 var(--color-accent);
  margin: auto;
  text-shadow: var(--text-shadow-heading-big);
}


/* Экран больше 768px */
@media (min-width: 768px) {

  /* Общие блоки */
  .container {
    padding: 0 20px;
  }

  .title {
    font-size: var(--font-size-heading-big-desktop, clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem));
  }

  /* Header */
  .header {
    padding-top: 192px;
  }

  .header__title {
    margin-left: -20px;
  }
  .header__subtitle {
    margin-top: 162px;
  }

}


/* Экран больше 1024px */
@media (max-width: 1024px) {}