/* Общие стили */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

.decorated-zone {
    position: relative;
}

.decorated-zone:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    border-top: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
}

.decorated-zone:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border-bottom: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
}

.decorated-text {
    color: var(--text-color-secondary);
    background-color: var(--accent-color);
}

/* Стили страницы */

.page {
    position: relative;
    min-inline-size: 375px;
    max-inline-size: 1440px;
    margin: 0 auto;
    padding: var(--page-padding);
    background-color: #000028;
    background-image: var(--page-bg-avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--main-font, 'IBM Plex mono', syssem-ui), sans-serif;
    font-size: var(--text-font-size, 18px);
    line-height: var(--text-line-height, 1.3em);
}

/* Стили шапки */

.header {
    padding-block:
            /* 65-172px */
            clamp(4.0625rem, -2.3187rem + 27.2265vw, 10.75rem)
            /* 56-163px */
            clamp(3.5rem, -2.8812rem + 27.2265vw, 10.1875rem);
}

.header__rec {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    column-gap: 11px;
    margin-inline-end: 9px;
    font-size: var(--text-font-size);
    text-transform: uppercase;
    line-height: 1.4;
    justify-content: end;
    align-items: center;
    color: var(--accent-color);
}

.header__rec::after {
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--accent-color);
    box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: 13px;
}

.header__theme-menu-button {
    padding: 2px 13px;
    font-size: var(--text-font-size);
    line-height: 1;
    color: var(--accent-color);
}

.header__theme-menu-button_active {
    outline: 1px solid var(--accent-color);
}

.slogan {
    font-size: var(--mobile-slogan-font-size);
    line-height: var(--slogan-line-height);
    color: var(--text-color-quaternary);
    font-weight: 700;
}

.header__slogan {
    display: inline-block;
    /* 67-175px */
    margin-block-start: clamp(4.1875rem, -2.2533rem + 27.4809vw, 10.9375rem);
    text-shadow: var(--text-shadow-normal);
}


.header__title {
    inline-size: clamp(22.1875rem, 21.6508rem + 2.2901vw, 22.75rem);
    /* 53-161px */
    margin-block-start: clamp(3.3125rem, -3.1283rem + 27.4809vw, 10.0625rem);
    margin-inline-start: auto;
    font-size: var(--text-font-size, 18px);
}

@media (min-width: 768px) {

    .header {
        /* 65-172px */
        padding-block-start:  clamp(0rem, 42.3192rem + -65.7692vw, 10.75rem);
        /* 113-64px */
        padding-block-end: clamp(64px, -19.140625vw + 259.421875px, 113px);
    }

    .header__slogan {
        position: relative;
        right: var(--page-padding);
        /* 173-275px */
        margin-block-start: clamp(10.8125rem, -8.3125rem + 39.8438vw, 17.1875rem);
        font-size: var(--desktop-slogan-font-size);
    }

    .header__title {
        /* 364-491px */
        inline-size: clamp(22.75rem, -1.0625rem + 49.6094vw, 30.6875rem);
        /* 162-114px */
        margin-block-start: clamp(114px, -18.75vw + 306px, 162px);
        margin-inline-start: auto;
        font-size: var(--text-font-size, 18px);
    }

}

@media (min-width: 900px) {

    .header__theme-menu-list {
        flex-direction: row;
        align-items: initial;
        justify-content: center;
    }
}

@media (min-width: 1024px) {

    .header {
        padding-block-start: 0
    }

    .header__theme-menu-button {
        padding: 3px 18px;
    }
}