:root {

  /* Шрифт */
  --main-font: IBM Plex Mono, Arial, sans-serif;

  /* Размер шрифта */
  --font-size-text: 18px;
  --font-size-heading-big-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-heading-big-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);

  /* Высота строки */
  --line-height-text: 1.3;
  --line-height-heading-big: .83;

  /* Цвет текста */
  --color-accent: #FF0070;
  --color-interactive: #FF0070;
  --color-main-heading: #DB00FF;
  --color-section-heading: #FF0070;
  --color-section-subtitle: #000028;
  --color-text-primary: #F1B2CE;

  /* Цвет фона */
  --bg-color-page: #000028;

  /* Жирность */
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* Декоративные элементы */
  --text-shadow-main-heading: 4px 4px 0 var(--color-accent, #FF0070);
  --text-shadow-link: 2px 2px 0 var(--color-interactive, #FF0070);
  --decorate-corners: 1px solid var(--color-decor-element, #FF0070);
  --color-decor-element: #FF0070;
  --color-btn-outline-hover: rgba(255, 0, 112, 0.4);

  /* Пути до картинок */
  --bg-image: url(../images/cover-image-dark.png);

  /* Отступы */
  --grid-gap: 20px;
}