:root {
  /* Шрифтовые переменные */


  /* Шрифт */
  --main-font: IBM Plex Mono, Arial, sans-serif;

  /* Размер шрифта */
  --font-size-text: 18px;
  --font-size-heading-big: 116px;

  /* Высота строки */
  --line-height-text: 1.3;
  --line-height-heading-big: .83;

  /* Цвет текста */
  --color-accent: #FF0070;
  --text-color-heading-big: #DB00FF;
  --text-color-primary: #F1B2CE;

  /* Жирность */
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* Декоративные элементы */
  --text-shadow-heading-big: 4px 4px 0 var(--color-accent);
}